<!DOCTYPE html>>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="portfolio.css" />
    <title>Contact Us</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <a href="./portfolue.html"
      ><i class="fas fa-envelope"> ummekalsoomsaeed171@gmail.com</i></a
    ><br /><br />
    <a href="https://github.com/UKS171"
      ><i class="fab fa-github"></i> My github profile</a
    ><br /><br />
    <table>
      <thead>
        <th>Name</th>
        <th>JobType</th>
        <th>Email</th>
      </thead>
      <tbody>
        <tr>
          <td>Kalsoom</td>
          <td>Web Developer</td>
          <td>kalsoom@gmail.com</td>
        </tr>
        <tr>
          <td>Saeed</td>
          <td>Engineer</td>
          <td>saeed@gmail.com</td>
        </tr>
        <tr>
          <td>Afshan</td>
          <td>Software Engineer</td>
          <td>afshan@gmail.com</td>
        </tr>
      </tbody>
    </table>
    <br />
    <address>
      <i class="fas fa-location-dot"></i> Arfa Tower Ferozpur ROAD MODEL TOWN
      LAHORE PUNJAB PAKISTAN ASIA
    </address>
    <br />
    <img
      src="./Brain.jpg"
      alt="Kalsoom profile picture"
      height="400"
      width="1000"
    /><img />
    <div class="whatsapp">
      <img src="./Whatsapp icon.png" width="50" height="50" alt="" />
    </div>
  </body>
</html>
